.idea/
.rakeTasks
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

/examples/lrn-sdk-rails/Gemfile.lock

# rspec failure tracking
.rspec_status

# lock file
Gemfile.lock
