<h1>Standalone Authoraide Example</h1>
<div id="aiApp"></div>
<script src="https://authoraide.learnosity.com"></script>
<script>
    var authoraideApp = LearnosityAuthorAide.init(<%= raw @init.generate %>, "#aiApp");
</script>
