<h1>Standalone Questions Example</h1>
<span class="learnosity-response question-60005"></span>
<script src="https://questions.learnosity.com/?latest-lts"></script>
<script>
var questionsApp = LearnosityApp.init(<%= raw @init.generate %>);
</script>
